.App {
  text-align: center;
}

.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}
.purple {
  background-color: purple;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.gray {
  background-color: gray;
}